<div>
    <label class="{{ className }}__label" for="{{ id }}">{{ labelText }}</label>
    <div>
        <input class="{{ className }}__input" id="{{ id }}" name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}"/>
        <span class="{{ className }}__input-error-message">{{ errorMessage }}</span>
    </div>
</div>
