<li class="profile__user-info-item">
  <span class="profile__user-info-property">{{property}}</span>
  <span class="profile__user-info-value">{{value}}</span>
  <input
    class="profile__user-info-input"
    id="{{property}}-profile-input"
    name="{{property}}-profile-input"
    type="{{type}}"
    value="{{value}}"
  />
</li>